offer {
    border: 1px solid $grey-shade;
    border-radius: 1rem;
    display: block;
    padding: 1rem;
    h3 {
        text-align: center;
    }
    h4 {
        text-align: center;
    }
    p {
        font-size: 1.3rem;
        text-align: center;
    }
}
